@font-face {
    font-family: Roboto-regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto-regular;
}

.container {
    margin: 0 auto;
    width: 1514px;
}


/* Adaptive */


/* header-start */

.logo {
    width: 181px;
    height: 74px;
    margin: 5px 0 0 0;
}

.nav-li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.nav-ul {
    display: flex;
    margin: 32px 0 0 152px;
}

.nav-li {
    list-style-type: none;
    margin: 0 0 0 77px;
}

.elements {
    width: 1239px;
    display: flex;
    margin: 0 auto;
}

.header {
    padding: 5px 0 21px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.hamburger-menu {
    width: 60px;
    height: 60px;
    display: none;
}


/* body-start */

.body {
    margin-top: 150px;
}

.block {
    justify-content: space-between;
    width: 1514px;
    margin: 0 auto;
}

.block1 {
    /* blocks */
    width: 1514px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.text {
    font-size: 40px;
    font-weight: 600;
    width: 510px;
}

.block1-text {
    margin-top: 70px;
}

.block1-img {
    width: 904px;
    height: 903px;
}

.change {
    color: #2a9d8f;
}

.block2 {
    display: flex;
    margin: 100px 0 0 0;
}

.block2-text {
    margin: 50px 0 0 120px;
    width: 429px;
}

.news {
    /* news */
    background: #2A9D8F;
    margin: 200px 0 0 0;
    padding: 35px 0 45px 0;
}
.news-elements {
    display: flex;
    margin-top: 30px;
}
.news-h3 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.news-el {
    border-radius: 10px;
    background: #34beae;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 35px;
    color: #ffff;
    padding: 15px 0 0 25px;
    text-decoration: none;
}
.news1, .news3 {
    background: url(img/open-hotel.png);
}
.news2 {
    background: url(img/dostop-perm.png);
    background-size: cover;
    
}
.news-info {
    margin: 0 10px 0 0;
}
.news-text {
    margin: 15px 0 0 0;
    font-size: 18px;
}
.news-name {
    font-size: 24px;
}
.h2-text {
    margin: 0 0 20px 0;
    font-size: 26px;
}
.news-ps {
    margin: 20px 0 0 0;
    font-family: Roboto-regular;
    font-size: 20px;
}
.news-p {
    margin: 10px 0 0 0;
}
.news-p-float { 
    float: left;
}
.news-p-float-right { 
    float: right;
}
.news-p-img { 
    float: right;
    width: 500px;
    height: 500px;
}
.news-p-img-left {
    float: left;
    margin: 20px 20px 20px 0;
}
.data {
    margin: 5px 0 0 0;
}

.catalog {
    margin-top: 150px;
    text-align: center;
}

.catalog-h3 {
    text-align: center;
    font-size: 40px;
}

.catalog-var {
    margin: 120px 0 0 0;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.var1,
.var3 {
    margin: 0 180px 0 0;
}

.catalog-button {
    margin: 113px 0 0 0;
    padding: 29px 151px 30px 152px;
    background: #2A9D8F;
    color: #ffff;
    font-size: 40px;
    font-weight: 600;
    outline: none;
    border: none;
}

.catalog-button:hover {
    cursor: pointer;
}


/* footer-start */

.footer-cont {
    display: flex;
}

.footer {
    background: #343434;
    padding: 75px 916px 159px 292px;
    display: flex;
    margin: 700px 0 0 0;
}

.footer-h3 {
    color: #818181;
    font-size: 40px;
}

.footer-ul {
    list-style-type: none;
    font-size: 24px;
    color: #fff;
    margin: 10px 0 0 0;
}

.footer-parts {
    margin: 0 100px 0 0;
}

.f-contact,
.f-part {
    margin: 10px 0 0 0;
}

.f-a {
    text-decoration: none;
    color: #ffff;
    margin: 50px 0 0 0;
    font-weight: 300;
}

.inst-logo {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.inst {
    height: 30px;
    vertical-align: middle;
    display: flex;
}


/* Adaptive verstka */

@media screen and (max-width:1280px) {
    .nav-ul {
        display: none;
    }
    .hamburger-menu {
        display: block;
        margin: 5px 0 0 808px;
        width: 80px;
        height: 85px;
    }
    .elements {
        width: 1101px;
        margin: 0 auto;
    }
    .container {
        width: 850px;
        margin: 0 auto;
    }
    .block1-img,
    .block2-img {
        width: 900px;
        height: 900px;
    }
    .block {
        display: inline;
    }
    .text {
        margin: 0 auto;
        margin-bottom: 75px;
        margin-top: 100px;
    }
    .var1,
    .var3,
    .var4 {
        margin: 50px;
    }
    .news-el {
        width: 300px;
        height: 300px;
    }
    .news1, .news2, .news3 { 
        margin: 0 10px 0 0;
    }
    .news-name { 
        font-size: 20px;
    }
    .news-text { 
        font-size: 14px;
    }
}

@media screen and (max-width:720px) {
    .nav-ul {
        display: none;
    }
    .hamburger-menu {
        width: 60px;
        height: 50px;
        margin: 20px 0 0 415px;
    }
    .elements {
        width: 648px;
        margin: 0 auto;
    }
    .container {
        width: 555px;
        margin: 0 auto;
    }
    .block1-img,
    .block2-img {
        width: 552px;
        height: 551px;
    }
    .block {
        display: inline;
    }
    .block2-text {
        width: 450px;
    }
    .text {
        margin: 0 auto;
        margin-bottom: 75px;
        margin-top: 100px;
    }
    .var1,
    .var3,
    .var4 {
        margin: 60px;
    }
    .news-elements { 
        display: flex;
        flex-flow: column wrap
    }
    .news-el { 
        margin: 0 auto;
        width: 250px;
        margin-top: 10px;
        height: 250px;
    }
    .news-name { 
        font-size: 16px;
    }
    .news-text { 
        font-size: 14px;
    }
    .footer {
        padding: 38px 241px 104px 47px;
    }
}